<!-- Header notes table-->
<div class="container">
  <table class="main-table">
      <thead>
          <tr class="header-row">
              <th class="header-desc">Name</th>
              <th class="header-desc">Created</th>
              <th class="header-desc">Category</th>
              <th class="header-desc">Content</th>
              <th class="header-desc">Dates</th>
              <th class="header-desc"></th>
              <th class="header-desc">
                  <div class="header-icons">
                    <span class="material-icons">archive</span> 
                  </div>
              </th>
            <th class="header-desc"></th>
          </tr>
      </thead>
      <tbody class="main-table-body">

       </tbody>
</table>
</div>