<!-- Header notes table-->
<div class="container">
  <table class="notes-table">
      <thead>
          <tr class="header-row">
              <th class="header-desc">Name</th>
              <th class="header-desc">Created</th>
              <th class="header-desc">Category</th>
              <th class="header-desc">Content</th>
              <th class="header-desc">Dates</th>
              <th class="header-desc"></th>
              <th class="header-desc">
                  <button class="header-icons" type="button" >
                    <span class="material-icons" data-archive-list>archive</span> 
                  </button>
              </th>
            <th class="header-desc"></th>
          </tr>
      </thead>
      <tbody class="notes-container">

      </tbody>
</table>
<div class="create-btn box">
<button class="create-btn" data-modal-open>Create Note</button>
</div>
</div>