.btn {
  height: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.25;
  text-align: center;
  color: #fcfcfc;
  background:#616161;;
  box-shadow: 0px 10px 30px rgba(129, 125, 123, 0.5);
  border-radius: 200px;
  border:transparent;
  cursor: pointer;
}


