.notes-table {
  min-width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0px 10px;
}
.header-row{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.18;
  height: 50px;
  padding: 20px 0;
  border-radius: 15px 15px 0 0;
  background-color: #9a9a9a;
  border-bottom: solid 10px #fcfcfc;
}
.header-desc {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.18;
  color: #fcfcfc;
  font-weight: bold;
}

.header-icons{
  padding: 0;
  margin: 0;
  border: none;
}
.material-icons{
  color:#9a9a9a;
 
  border:none;
}
td{
  padding: 10px 10px;
}
tr.body-row{
  background-color: #e9ebf5;
  max-height: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.body-row:not(:last-child) {
  border-bottom: solid 20px ;
}
.body-row__desc.name{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  display: flex;
  align-items: center;
  color: #000000;
}
.body-row__desc{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  color: #797978;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-name{
  display:flex;
  align-items: center;
}
.material-icons.name{
  color:#fcfcfc;
}
.body-row__name-icons{
  color:#fcfcfc;
  border-radius: 50%;
  background-color: #616161;
  margin-right: 10px;
  padding: 5px;
}

.body-row__icons{
  border:none;
}
.create-btn.box{
  display: flex;
  flex-direction: row-reverse;
  margin-top:10px;
  margin-bottom: 30px;
}
.create-btn{
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  color: #000000;
  padding: 5px;
}
tr.body-row.archived > span.material-icons.archive{
 color: #000000;
}